.container {
  display: flex;
  background-color: #EFEFEF;
}

/* sidebar */
.sidebar {
  background-image: url("background-image.jpg");
  background-size: cover;
  width: 40vw;
  height: 100vh;
  font-family: 'Dancing Script', cursive;
}

/* title */
.title {
  margin: 40% 0;
  padding: 10% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(40, 40, 40, 0.6);
  color: white;
}

img.icon {
  width: 20%;
  margin-right: 3%;
}

h1.label {
  font-size: 3.5vw;
  font-weight: bold;
  text-align: center;
}

/* credit paragraph */
div.image-credit {
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  width: 100%;
}

p.credit {
  color: white;
  font-style: italic;
  margin-left: auto;
  font-size: 0.9vw;
  font-family: 'Dosis', sans-serif;
}

a.link-credit {
  color: lightgray;
}

a.link-credit:hover {
  color: whitesmoke;
}

/* form section */
.main {
  width: 60vw;
  background-color: #EFEFEF;
  height: 100%;
}

/* introductory paragraph */
div.explanation {
  height: 33%;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'PT Serif', serif;
}

p.reason {
  font-size: max(1.5vw, 16px);
  line-height: 1.5;
  margin-bottom: 5%;
}

em {
  font-style: italic;
}

p.action {
  font-size: max(2vw, 24px);
  font-weight: bold;
}

/* form */

/* user information */
fieldset.info {
  height: 50%;
  padding: 5vh 5vw;
  background-color: white;
  box-shadow: 0 0.5vh 5px #DDD;
  font-family: 'Dosis', sans-serif;
}

/* title */
fieldset.info p.legend {
  font-family: 'PT Serif', serif;
  font-size: max(1.5vw, 24px);
  font-weight: 400;
  margin-bottom: 5%;
}

/* formatting layout to look pretty */
fieldset.info div.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  height: 30%;
  margin: 1vh 0;
}

/* styling text */
label {
  margin-bottom: 2%;
  text-transform: uppercase;
  letter-spacing: 0.25vw;
}

/* styling input based on stuff */
input {
  width: 70%;
  padding: 2% 2%;
  border: 1px solid #BBB;
  border-radius: 5px;
  font-size: max(1vw, 12px);
}

input#newsletter {
  margin-top: 2%;
  transform: scale(150%);
  accent-color: #8d794f;
  border: none;
  width: min-content;
  margin-left: 4%;
}

input:invalid:not:required {
  border: 1px solid red;
}

input:focus {
  border: 1px solid #4f7df2;
  box-shadow: 2px 2px 4px #DDD;
}

#error-text {
  margin-top: 1vh;
}

/* submission bit */
div.sign-up {
  padding: 3vh 5vw;
}

button#submit {
  font-family: 'Dancing Script', cursive;
  font-size: 1.75vmax;
  padding: 2vh 2vw;
  color: white;
  border-bottom: 2px solid rgba(100, 81, 46, 0.4);
  border-right:  2px solid rgba(100, 81, 46, 0.4);
  border-top: 1px solid rgba(224, 203, 174, 0.4);
  border-left: 1px solid rgba(224, 203, 174, 0.4);
  border-radius: 4%;
  background: linear-gradient(to bottom right, #c6b080, #65522b);
  margin-bottom: 3vh;
  box-shadow: 4px 4px 4px #83776f;
}

button#submit:hover {
  background: linear-gradient(to bottom right, #dec8a3, #816b42);
  cursor: pointer;
}

button#submit:active {
  margin-top: 4px;
  margin-left: 4px;
  box-shadow: none;
}

p.account {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5vmax;
}

a.log-in {
  color: #816b42;
  font-weight: 600;
}

a.log-in:hover {
  color: #5d4927;
  text-decoration: none;
  transition: all 0.2s;
}
